.carousel-slide{
    height: 350px;
    width: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
}

.carousel-slide:hover{
    cursor: pointer;
}

.carousel-container{
    top: 100px;
    position: relative;
}