.header-container{
    display: flex;    
    align-self: flex-start;
    justify-content: center;  
    gap: 30px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.back-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button{
    text-align: center;
    width: 30px;
    height: auto;
    background-color: beige;
    color: black;
    border-radius: 50%;
    padding: 10px;
    margin-left: 16px;
    font-size: 28px;
    text-align: center;
}

.title-header{
    font-weight: bold;
}