.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px; 
    background-color: #000000;   
   }
   
   .nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
   }
   
   .nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 8px 16px;
   }
   
   .nav li a:hover {
    background-color: rgba(215, 70, 70, 0.656);
    border-radius: 4px;  
   }
   
   .nav-logo {
    height: 80px;
    width: auto;
   }
   
   .nav-user {
    width: auto;
    height: 50px;
    border-radius: 50%;
   }

   .nav-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 118px;    
   }

   .nav-item:hover {
    cursor: pointer;
    opacity: 0.5;
    transform:scale(1.1);
   }

   .nav-item p {
    color: #fff;
   }

   .nav-dropdown-active{
    box-sizing: border-box;
    position: absolute;
    color: #fff;
    top: 90px;
    right: 30px;    
    padding: 10px;
    background-color: #35363A;
    width: 150px;
    z-index: 1000;
   }

   .nav-dropdown{
    display: none;
   }

   .nav-dropdown-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;    
    flex-wrap: wrap;
   }

   .nav-dropdown-list li:hover{
    cursor: pointer;
    opacity: 0.5;
    transform:scale(1.1);

   }